<div class="container">

  <footer class="py-3 my-4">
    <div class="row align-items-center">
      <div class="col 4">
        <a href="https://www.t-systems.com/es/es" target="_blank"><img class="img-fluid"
            src="../assets/images/logo-t-systems-white.svg-data.svg" alt="T-Systems-Logo" title="T-Systems-Logo"></a>
      </div>
      <div class="col 4">
        <a [routerLink]="['/home']"><img class="img-fluid" src="../assets/images/T-BookMatch-SF-B.png"
            alt="T-BookMatch-Logo" title="T-BookMatch-Logo"></a>
      </div>
      <div class="col 4">
        <a href="https://github.com/paul-23/bookmatch-frontend" target="_blank"><img class="img-fluid"
            src="../assets/images/Logo-PS-SF-B.png" alt="redArpa-Logo" title="redArpa-Logo"></a>
      </div>
    </div>
  </footer>
</div>
