<div class="container">
  <div class="row">
    <h1 class="about-us">About us</h1>
    <div class="col-md-4 col-sm-6">
      <div class="our-team">
        <div class="pic">
          <img src="https://avatars.githubusercontent.com/u/51365249?v=4" />
        </div>
        <h3 class="title">Arnau Leinster</h3>
        <span class="post">FullStack Developer</span>
        <h5 class="role">Role: monitor</h5>
        <ul class="social">
          <li><a href="https://www.linkedin.com/in/arnau-leinster-306351209" target="_blank"><i class="bi bi-linkedin"></i></a></li>
          <li><a href="https://github.com/ArnauLeinster" target="_blank"><i class="bi bi-github"></i></a></li>
        </ul>
      </div>
    </div>

    <div class="col-md-4 col-sm-6">
      <div class="our-team">
        <div class="pic">
          <img src="https://avatars.githubusercontent.com/u/127191092?v=4" />
        </div>
        <h3 class="title">Marc Rojo</h3>
        <span class="post">FullStack Developer</span>
        <h5 class="role">Role: finisher</h5>
        <ul class="social">
          <li><a href="https://www.linkedin.com/in/marc-rojo-gomez/" target="_blank"><i class="bi bi-linkedin"></i></a></li>
          <li><a href="https://github.com/burnout131" target="_blank"><i class="bi bi-github"></i></a></li>
        </ul>
      </div>
    </div>

    <div class="col-md-4 col-sm-6">
      <div class="our-team">
        <div class="pic">
          <img src="https://avatars.githubusercontent.com/u/62121921?v=4" />
        </div>
        <h3 class="title">Paul Stanescu</h3>
        <span class="post">FullStack Developer</span>
        <h5 class="role">Role: shaper</h5>
        <ul class="social">
          <li><a href="https://www.linkedin.com/in/paul-stanescu/" target="_blank"><i class="bi bi-linkedin"></i></a></li>
          <li><a href="https://github.com/paul-23" target="_blank"><i class="bi bi-github"></i></a></li>
          <li><a href="https://pauls23.000webhostapp.com/" target="_blank"><i class="bi bi-globe"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
