<div *ngIf="loading">
  <app-loader></app-loader>
</div>

<div class="container" *ngIf="userLogged && !loading">
  <div class="row">
    <div class="col-md-6">
      <div class="form-wrap">
        <div class="form-inner">
          <h2>Profile settings</h2>

          <form #userForm="ngForm" (ngSubmit)="editProfile(userForm)">
            <div class="row">
              <div class="col-12 col-lg-12">
                <div class="form-floating">
                  <input
                    type="text"
                    [(ngModel)]="user.username"
                    id="username"
                    name="username"
                    class="form-control"
                    id="exampleInputEmail1"
                    aria-describedby="username"
                    placeholder="Username"
                    required
                    minlength="3"
                    maxlength="20"
                    #usernameInput="ngModel"
                    [ngClass]="{error: usernameInput.invalid && (usernameInput.dirty || usernameInput.touched || submittedProfile)}"
                  />
                  <label for="username">Username</label>
                  <div *ngIf="usernameInput.invalid && (usernameInput.dirty || usernameInput.touched || submittedProfile)" class="error-message">
                    <p *ngIf="usernameInput.errors?.['required']">Username is required.</p>
                    <p *ngIf="usernameInput.errors?.['minlength']">Username must be at least 3 characters long.</p>
                    <p *ngIf="usernameInput.errors?.['maxlength']">Username cannot exceed 20 characters.</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                <div class="form-floating">
                  <label for="formFileSm" class="form-label"
                    >Profile image
                    <span class="gray-text">(Optional)</span></label
                  >
                  <input
                    name="profileImage"
                    (change)="onFileSelected($event)"
                    [value]="user.profile_image"
                    accept="image/jpeg, image/png"
                    [(ngModel)]="user_profile_image"
                    class="form-control form-control-sm"
                    id="formFileSm"
                    type="file"
                  />
                </div>
              </div>
              <p *ngIf="typeFileError" style="color: red">
                Type of file isn't accepted
              </p>
              <div class="col-2 col-sm-2 col-md-2">
                <div style="display: inline-block">
                  <img
                    [src]="previewImage"
                    class="card-img-top userProfile"
                    alt="imagen del usuario"
                    *ngIf="this.user.profile_image"
                  />
                  <button
                    *ngIf="this.user.profile_image"
                    type="button"
                    class="btn btn-secondary delete-btn"
                    data-bs-toggle="modal"
                    data-bs-target="#deleteBookConfirmation"
                  >
                    <i class="bi bi-trash3"></i>
                  </button>
                </div>
              </div>
            </div>
            <button
              type="submit"
              class="btn btn-primary"
            >
              Save changes
            </button>
          </form>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-wrap">
        <div class="form-inner">
          <h2>Change password</h2>
          <form #passwordForm="ngForm" (ngSubmit)="changePassword(passwordForm)">
            <div class="form-floating">
              <input
                type="password"
                [(ngModel)]="currentPassword"
                id="currentPassword"
                name="currentPassword"
                class="form-control"
                aria-describedby="currentPassword"
                placeholder="Current Password"
                required
                #currentPasswordInput="ngModel"
                [ngClass]="{ 'error': currentPasswordInput?.invalid && (currentPasswordInput?.dirty || currentPasswordInput?.touched || submittedPassword) }"
              />
              <label for="currentPassword">Current password</label>
              <i class="password-icon" [class]="showCurrentPassword ? 'bi bi-eye-slash-fill' : 'bi bi-eye-fill'" (click)="toggleCurrentPasswordVisibility(currentPasswordInput)"></i>
              <div *ngIf="currentPasswordInput?.invalid && (currentPasswordInput?.dirty || currentPasswordInput?.touched || submittedPassword)" class="error-message">
                <p *ngIf="currentPasswordInput.errors?.['required']">Current password is required.</p>
              </div>
            </div>
            <div class="form-floating">
              <input
                type="password"
                class="form-control"
                id="new-password"
                [(ngModel)]="newPassword"
                name="new-password"
                aria-describedby="currentPassword"
                placeholder="New Password"
                required
                minlength="6"
                maxlength="40"
                #newPasswordInput="ngModel"
                [ngClass]="{ 'error': newPasswordInput?.invalid && (newPasswordInput?.dirty || newPasswordInput?.touched || submittedPassword) }"
              />
              <label for="new-password">New password</label>
              <i class="password-icon" [class]="showNewtPassword ? 'bi bi-eye-slash-fill' : 'bi bi-eye-fill'" (click)="toggleNewPasswordVisibility(newPasswordInput)"></i>
              <div *ngIf="newPasswordInput?.invalid && (newPasswordInput?.dirty || newPasswordInput?.touched || submittedPassword)" class="error-message">
                <p *ngIf="newPasswordInput.errors?.['required']">New password is required.</p>
                <p *ngIf="newPasswordInput.errors?.['minlength']">Password must be at least 6 characters long.</p>
                <p *ngIf="newPasswordInput.errors?.['maxlength']">Password cannot exceed 40 characters.</p>
              </div>
            </div>
            <div class="form-floating" *ngIf="passwordNoMatch">
              <p style="color: red">PASSWORD MISMATCH</p>
            </div>
            <div class="form-floating">
              <input
                type="password"
                class="form-control"
                id="confirm-password"
                [(ngModel)]="confirmPassword"
                name="confirmPassword"
                aria-describedby="confirmPassword"
                placeholder="Confirm Password"
                required
                minlength="6"
                maxlength="40"
                #confirmPasswordInput="ngModel"
                [ngClass]="{ 'error': confirmPasswordInput?.invalid && (confirmPasswordInput?.dirty || confirmPasswordInput?.touched || submittedPassword) }"
              />
              <label for="confirm-password">Confirm new password</label>
              <i class="password-icon" [class]="showConfirmtPassword ? 'bi bi-eye-slash-fill' : 'bi bi-eye-fill'" (click)="toggleConfirmPasswordVisibility(confirmPasswordInput)"></i>
              <div *ngIf="confirmPasswordInput?.invalid && (confirmPasswordInput?.dirty || confirmPasswordInput?.touched || submittedPassword)" class="error-message">
                <p *ngIf="confirmPasswordInput.errors?.['required']">Confirm password is required.</p>
                <p *ngIf="confirmPasswordInput.errors?.['minlength']">Password must be at least 6 characters long.</p>
                <p *ngIf="confirmPasswordInput.errors?.['maxlength']">Password cannot exceed 40 characters.</p>
              </div>
              <div class="error-message">
                <p *ngIf="confirmPasswordInput?.value !== newPassword && confirmPasswordInput?.value !== ''">Passwords do not match.</p>
              </div>
            </div>
            <div class="form-floating" *ngIf="passChangeOk">
              <p style="color: green">Password changed succesfully</p>
            </div>
            <div class="form-floating" *ngIf="passChangeFail">
              <p style="color: red">Error! Password does not match your current password</p>
            </div>
            <button
              type="submit"
              class="btn btn-primary"
            >
              Change password
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container notlogged" *ngIf="!userLogged">
  <h1>You are not logged in</h1>
  <button class="btn btn-primary" [routerLink]="['/login']">Go to Login</button>
</div>

<!-- Modal -->
<div
  class="modal fade"
  id="deleteBookConfirmation"
  tabindex="-1"
  aria-labelledby="deleteBookConfirmationLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="deleteBookConfirmationLabel">
          Delete profile image
        </h3>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <h5>Are you sure you want to delete your profile image?</h5>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Cancel
        </button>
        <button
          type="button"
          class="btn btn-danger"
          data-bs-dismiss="modal"
          (click)="deleteProfileImage()"
        >
          Delete
        </button>
      </div>
    </div>
  </div>
</div>
