<header class="header_section">
  <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="navegacion">
    <div class="container">
      <a class="navbar-brand" routerLink="/"><img src="./../assets/images/T-BookMatch-SF-B.png" class="img-fluid" alt="BookMatch logotipe"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show" aria-current="page" routerLink="/home" routerLinkActive="active">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show" routerLink="/books" routerLinkActive="active">Books</a>
          </li>
          <li class="nav-item" *ngIf="!userLogged">
            <a class="nav-link" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show" routerLink="/about" routerLinkActive="active">About</a>
          </li>

          <li class="nav-item" *ngIf="!userLogged">
            <a class="nav-link" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show" routerLink="/login" routerLinkActive="active">Login</a>
          </li>
          <ng-container *ngIf="userLogged">
            <li class="nav-item">
              <a class="nav-link" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show" [routerLink]="['/add_book']">Add Book</a>
            </li>

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Hi, {{ user?.username }}
                <img *ngIf="user?.profile_image" [src]="'data:image/jpg;base64,' + user?.profile_image" class="card-img-top" alt="Imagen de perfil" />
              </a>
              <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                <li><a class="dropdown-item" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show" [routerLink]="['/user_books/', user?.id_user]">Profile</a></li>
                <li><a class="dropdown-item" style="cursor: pointer;" data-bs-toggle="modal" data-bs-target="#LogoutConfirmation">Logout</a></li>
              </ul>
            </li>
          </ng-container>
        </ul>
      </div>
    </div>
  </nav>
</header>

<!-- Modal -->
<div class="modal fade" id="LogoutConfirmation" tabindex="-1" aria-labelledby="LogoutConfirmationLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="LogoutConfirmationLabel">Logout</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to log out?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="logout()">Logout</button>
      </div>
    </div>
  </div>
</div>
