<div *ngIf="!userLogged" class="site-wrap d-md-flex justify-content-center loginview">
  <div class="form-wrap">
    <div class="form-inner">
      <h1 class="title">Login</h1>
      <p class="caption mb-4">Please enter your login details to sign in.</p>


      <form #loginForm="ngForm" (ngSubmit)="logIn(loginForm)" class="pt-3">
        <div class="form-floating">
          <input
            type="email"
            name="email"
            class="form-control"
            id="email"
            placeholder="info@example.com"
            [(ngModel)]="email"
            required
            email
            #emailInput="ngModel"
            [ngClass]="{'error': emailInput.invalid && (emailInput.dirty || emailInput.touched || submitted)}"
          />
          <label for="email">Email Address</label>
          <div *ngIf="emailInput?.touched && emailInput?.invalid || submitted" class="error-message">
            <p *ngIf="emailInput.errors?.['required']">Email is required.</p>
            <p *ngIf="emailInput.errors?.['email']">Please enter a valid email address.</p>
          </div>
        </div>

        <div class="form-floating password-container">
          <input
            #passwordInput="ngModel"
            type="password"
            name="password"
            class="form-control"
            id="password"
            placeholder="Password"
            [(ngModel)]="password"
            required
            [ngClass]="{'error': passwordInput.invalid && (passwordInput.dirty || passwordInput.touched || submitted)}"
          />
          <label for="password">Password</label>
          <i class="password-icon" [class]="showPassword ? 'bi bi-eye-slash-fill' : 'bi bi-eye-fill'" (click)="togglePasswordVisibility()"></i>
          <div *ngIf="passwordInput?.touched && passwordInput?.invalid  || submitted" class="error-message">
            <p *ngIf="passwordInput.errors?.['required']">Password is required.</p>
          </div>
        </div>

        <div class="d-grid mb-4 mt-4">
          <button type="submit" class="btn btn-primary">Log in</button>
        </div>

        <div class="mb-2">
          Don&apos;t have an account? <a routerLink="/register">Sign up</a>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="userNotLogged" *ngIf="userLogged">
  <h1> You're already logged </h1>
  <div class="buttonsUserNotLogged">
    <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#LogoutConfirmation">Logout</button>
    <button class="btn btn-primary" routerLink="/home">Home</button>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="LogoutConfirmation" tabindex="-1" aria-labelledby="LogoutConfirmationLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="LogoutConfirmationLabel">Logout</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to log out?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="logout()">Logout</button>
      </div>
    </div>
  </div>
</div>
