<section class="container" *ngIf="book">
  <div class="row">


    <div class="col">
    </div>

    <div class="col">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{book.title | uppercase }}</h5>
          <p class="card-text">
            <strong>Author</strong>: {{book.author}}
            <br>
            <strong>ISBN</strong>: {{book.isbn}}
            <br>
            <strong>Category</strong>: {{book.category}}
            <br>
          </p>
          <img [src]="'data:image/jpg;base64,' + book.cover_image"
          height="300px" width="300px" class="card-img-top" alt="imagen del libro"/>
          <button class="btn btn-danger" (click)="onBack()">Back</button>
        </div>
      </div>

      <div>
        <button id="edit_button" class="btn btn-danger"
        [routerLink]="['/edit_books',book.id_book]">Edit</button>
      </div>

    </div>
  </div>
</section>
