.error-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
}

.error-title {
  font-size: 3rem;
  margin-top: 20px;
}

.error-message {
  font-size: 1.5rem;
  margin-top: 10px;
}

.back-button {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #e20074;
  color: #ffffff;
  font-size: 1rem;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.back-button:hover {
  background-color: #a50859;
}

.book {
  transform-style: preserve-3d;
  position: relative;
  height: 300px;
  cursor: pointer;
  backface-visibility: visible;
  margin-top: 30px;
  margin-bottom: 50px;
}

.front,
.back,
.page1,
.page2,
.page3,
.page4,
.page5,
.page6 {
  transform-style: preserve-3d;
  position: absolute;
  width: 200px;
  height: 100%;
  top: 0;
  left: 0;
  transform-origin: left center;
  transition: transform 0.5s ease-in-out, box-shadow 0.35s ease-in-out;
}

.front,
.back {
  background: #e20074;
}

.front,
.page1,
.page3,
.page5 {
  border-bottom-right-radius: 0.5em;
  border-top-right-radius: 0.5em;
}

.back,
.page2,
.page4,
.page6 {
  border-bottom-right-radius: 0.5em;
  border-top-right-radius: 0.5em;
}

.page1 {
  background: #efefef;
}

.page2 {
  background: #efefef;
}

.page3 {
  background: #f5f5f5;
}

.page4 {
  background: #f5f5f5;
}

.page5 {
  background: #fafafa;
}

.page6 {
  background: #fdfdfd;
}

.book:hover .front {
  transform: rotateY(-160deg) scale(1.1);
  box-shadow: 0 1em 3em 0 rgba(0, 0, 0, 0.2);
}

.book:hover .page1 {
  transform: rotateY(-150deg) scale(1.1);
  box-shadow: 0 1em 3em 0 rgba(0, 0, 0, 0.2);
}

.book:hover .page2 {
  transform: rotateY(-30deg) scale(1.1);
  box-shadow: 0 1em 3em 0 rgba(0, 0, 0, 0.2);
}

.book:hover .page3 {
  transform: rotateY(-140deg) scale(1.1);
  box-shadow: 0 1em 3em 0 rgba(0, 0, 0, 0.2);
}

.book:hover .page4 {
  transform: rotateY(-40deg) scale(1.1);
  box-shadow: 0 1em 3em 0 rgba(0, 0, 0, 0.2);
}

.book:hover .page5 {
  transform: rotateY(-130deg) scale(1.1);
  box-shadow: 0 1em 3em 0 rgba(0, 0, 0, 0.2);
}

.book:hover .page6 {
  transform: rotateY(-50deg) scale(1.1);
  box-shadow: 0 1em 3em 0 rgba(0, 0, 0, 0.2);
}

.book:hover .back {
  transform: rotateY(-20deg) scale(1.1);
}

.page6 h1 {
  font-size: 100px;
}

.page5 h1 {
  -moz-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  transform: scaleX(-1);
  font-size: 40px;
}

.page6,
.page5 {
  display: flex;
  align-items: center;
}

.front h1 {
  color: #efefef;
  font-size: 130px;
  transform: rotate(90deg);
}

.front {
  display: flex;
}
