<div *ngIf="loading">
  <app-loader></app-loader>
</div>

<div class="container" *ngIf="!notLogged && !loading">
  <h1>You are not logged in</h1>
  <button class="btn btn-primary goToLoginBtn" routerLink="/login">Login</button>
</div>

<section class="container" *ngIf="notLogged && !userLogged && !loading">
  <h1>User profile</h1>
  <div class="card profile-card">
    <div class="d-flex justify-content-center align-items-center">
      <img [src]="profileImage" class="profile-image img-fluid" alt="User profile image">
    </div>
    <div class="card-body profile-info text-center">
      <h5>{{user?.username}}</h5>
      <p><strong>Email:</strong> {{user?.email}}</p>
    </div>
  </div>
</section>


<section class="container" *ngIf="userLogged && !loading">
  <h1>{{ user.username }} profile</h1>
  <div class="row justify-content-center">
    <div class="col-md-4 col-lg-4">
      <div class="card profile-card">
        <div class="d-flex justify-content-center align-items-center">
          <img [src]="profileImage" class="profile-image img-fluid" alt="User profile image">
        </div>
        <div class="card-body profile-info text-center">
          <h2>{{ user?.username }}</h2>
          <p><strong>Email:</strong> {{ user?.email }}</p>
        </div>
        <div class="profile-settings text-center">
          <a class="btn btn-danger" [routerLink]="['/profile_settings']">
            Settings&nbsp;&nbsp;<i class="bi bi-gear-fill ml-2"></i>
          </a>
        </div>
      </div>
    </div>
    <div class="col-md-8 col-lg-8" *ngIf="books.length > 0">
      <div class="card book-card">
        <ul class="book-list list-group list-group-flush">
          <li class="book-list-item list-group-item" *ngFor="let book of books">
            <div class="book-details">
              <div class="book-image">
                <img [src]="'data:image/jpg;base64,' + book.cover_image" alt="Book cover">
              </div>
              <div class="book-content">
                <div class="book-title"><h3>{{ book.title }}</h3></div>
                <div class="book-info">
                  <p><strong>Author:</strong> {{ book.author }}</p>
                  <p><strong>ISBN:</strong> {{ book.isbn }}</p>
                  <p><strong>Category:</strong> {{ book.category }}</p>
                </div>
              </div>
            </div>
            <div class="book-actions">
              <button class="btn btn-primary" [routerLink]="['/edit_books', book.id_book]">Edit</button>
              <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteBookConfirmation" (click)="selectedBook = book.id_book">Delete</button>
              <button class="btn btn-success" *ngIf="!book.aviable" (click)="updateBookAvailability(book.id_book)">Set available</button>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>

<!-- Modal -->
<div class="modal fade" id="deleteBookConfirmation" tabindex="-1" aria-labelledby="deleteBookConfirmationLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="deleteBookConfirmationLabel">Delete book</h3>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h5>Are you sure you want to delete the book?</h5>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="deleteBook(selectedBook)">Delete</button>
      </div>
    </div>
  </div>
</div>

<div class="position-fixed top-0 end-0 p-3" style="z-index: 11; margin-top: 65px;">
  <div id="liveToast" *ngIf="showToast" #toastElement [ngClass]="{'show': showToast, 'hide': !showToast}" class="toast text-white bg-success border-0" role="alert" aria-live="assertive" aria-atomic="true" data-bs-delay="5000">
    <div class="toast-header">
      <i class="bi bi-info-circle-fill me-2"></i>
      <strong class="me-auto">Book deleted</strong>
      <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body">
      Book deleted successfully.
    </div>
  </div>
</div>

