<section class="container" *ngIf="user">
  <div class="row">
    <div class="col-6">
      <img [src]="'data:image/jpg;base64,' + user.profile_image" class="card-img-top rounded-circle" alt="User profile image"/>
    </div>
    <div class="col-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{user.username}}</h5>
          <p class="card-text">
            <strong>email</strong>: {{user.email}}
            <br>
          </p>
        </div>
      </div>

      <div>
        <button id="edit_button" class="btn btn-danger"
        [routerLink]="['/profile_settings',user.id_user]">Settings  <i class="bi bi-gear-fill"></i></button>
      </div>

    </div>
  </div>
</section>
