<section class="container">
  <h1>User profile</h1>
  <div class="card profile-card">
    <div class="d-flex justify-content-center align-items-center">
      <img [src]="'data:image/jpg;base64,' + user.profile_image" class="profile-image img-fluid" alt="User profile image">
    </div>
    <div class="card-body profile-info text-center">
      <h5>{{user.username}}</h5>
      <p><strong>Email:</strong> {{user.email}}</p>
    </div>
  </div>
</section>


<section class="container">
  <h1>{{ user.username }} profile</h1>
  <div class="row justify-content-center">
    <div class="col-md-4 col-lg-4">
      <div class="card profile-card">
        <div class="d-flex justify-content-center align-items-center">
          <img [src]="'data:image/jpg;base64,' + user.profile_image" class="profile-image img-fluid" alt="User profile image">
        </div>
        <div class="card-body profile-info text-center">
          <h2>{{ user.username }}</h2>
          <p><strong>Email:</strong> {{ user.email }}</p>
        </div>
        <div class="profile-settings text-center">
          <a class="btn btn-danger" [routerLink]="['/profile_settings', user.id_user]">
            Settings
            <i class="bi bi-gear-fill ml-2"></i>
          </a>
        </div>
      </div>
    </div>
    <div class="col-md-8 col-lg-8">
      <div class="card book-card">
        <ul class="book-list list-group list-group-flush">
          <li class="book-list-item list-group-item" *ngFor="let book of books">
            <div class="book-details">
              <div class="book-title"><h3>{{ book.title }}</h3></div>
              <div class="book-info">
                <p><strong>Author:</strong> {{ book.author }}</p>
                <p><strong>ISBN:</strong> {{ book.isbn }}</p>
                <p><strong>Category:</strong> {{ book.category }}</p>
              </div>
            </div>
            <div class="book-actions">
              <button class="btn btn-primary">Editar</button>
              <button class="btn btn-danger">Eliminar</button>
              <button class="btn btn-success" *ngIf="!book.available">Disponible</button>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>



