<div class="container-fluid div-text">
  <h2 id="home-text">{{ title }}</h2>
  <button class="btn btn-secondary btn-register btn-lg" routerLink="/register">
    Join our community
  </button>
</div>
<div class="container">
  <div class="row title-container">
    <div class="col-6">
      <h1>Last updates</h1>
    </div>
    <div class="col-6 col-align-right">
      <button class="btn btn-secondary btn-view" routerLink="/books">
        View all books
      </button>
    </div>
  </div>
  <div *ngIf="loading">
    <app-loader></app-loader>
  </div>
  <div *ngIf="!loading && !books">
    <h3 class="messageLNF">There are no books</h3>
  </div>
  <div class="row" *ngIf="!loading && books">
    <div
      class="columna"
      class="col-10 col-sm-6 col-md-4 col-xl-3"
      *ngFor="let book of books; let i = index"
    >
      <div class="card">
        <div class="cover-container">
          <div class="book">
            <div class="front">
              <div class="cover">
                <img
                  [src]="'data:image/jpg;base64,' + book.cover_image"
                  class="card-img-top"
                  alt="imagen del libro"
                />
              </div>
            </div>
            <div class="left-side">
              <h2>
                <span>{{ book.author | uppercase }}</span>
              </h2>
            </div>
          </div>
        </div>
        <div class="card-body">
          <h5 class="card-title">{{ book.title }}</h5>
          <p class="card-text">{{ book.author }}</p>
          <button
            class="btn btn-secondary btn-view"
            [routerLink]="['/book', book.id]"
          >
            View book
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
