<div class="banner">
  <div class="container">
    <div class="row">
      <div class="mx-auto text-center">
        <div class="banner-content">
          <h3 class="banner-title">{{ title }}</h3>
          <p class="banner-description">Join our community of book lovers!</p>
          <a class="btn btn-secondary btn-register btn-lg" href="/register"
            >Join Now</a
          >
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row title-container">
    <div class="col-6">
      <h1>Last updates</h1>
    </div>
    <div class="col-6 col-align-right">
      <button class="btn btn-secondary btn-view" routerLink="/books">
        View all books
      </button>
    </div>
  </div>
  <div *ngIf="loading">
    <app-loader></app-loader>
  </div>
  <div *ngIf="(!loading && !books) || (!loading && books.length === 0)">
    <h3 class="messageLNF">There are no books</h3>
  </div>
  <div class="row" *ngIf="!loading && books && books.length > 0">
    <div
      class="columna"
      class="col-10 col-sm-6 col-md-6 col-xl-3 book-card"
      *ngFor="let book of books; let i = index"
    >
      <div class="card" *ngIf="book.aviable">
        <div class="cover-container">
          <div class="book">
            <div class="front">
              <div class="cover">
                <img
                  [src]="'data:image/jpg;base64,' + book.cover_image"
                  class="card-img-top"
                  alt="imagen del libro"
                />
              </div>
            </div>
            <div class="left-side">
              <h2>
                <span>{{ book.author | uppercase }}</span>
              </h2>
            </div>
          </div>
        </div>
        <div class="card-body">
          <h5 class="card-title">{{ book.title }}</h5>
          <p class="card-text">{{ book.author }}</p>
          <button
            class="btn btn-secondary btn-view"
            [routerLink]="['/book_view/', book.id_book]"
          >
            View book
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container px-4 py-5" id="custom-cards">
  <h2 class="pb-2">Welcome to BookMatch!</h2>
  <p class="pb-2">
    The platform for exchanging books between employees of our company
  </p>
  <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">
    <div class="col">
      <div
        class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg"
        style="
          background-image: url('./../../assets/images/home-img/registration.jpg');
        "
      >
        <div class="card-blur d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
          <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Sign up</h2>
          <h4 class="fw-bold">
            Create your BookMatch account to start exchanging books with
            your classmates.
          </h4>
        </div>
      </div>
    </div>
    <div class="col">
      <div
        class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg"
        style="
          background-image: url('./../../assets/images/home-img/share-book.jpg');
        "
      >
        <div class="card-blur d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
          <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Upload your books</h2>
          <h4 class="fw-bold">
            Add the books you want to trade to your personal library and
            specify your preferences.
          </h4>
        </div>
      </div>
    </div>
    <div class="col">
      <div
        class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg"
        style="background-image: url('./../../assets/images/home-img/swap.jpg')"
      >
        <div class="card-blur d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
          <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Interchange them</h2>
          <h4 class="fw-bold">
            Browse available books from other employees and propose
            exchanges according to your interests.
          </h4>
        </div>
      </div>
    </div>
  </div>
</div>
