<div *ngIf="!userLogged" class="site-wrap d-md-flex justify-content-center registerview">
  <div class="form-wrap">
    <div class="form-inner">
      <h1 class="title">Sign up</h1>
      <p class="caption mb-4">Create your account in seconds.</p>

      <form #registerForm="ngForm" (ngSubmit)="register(registerForm)">
        <div class="form-floating">
          <input
            type="text"
            name="name"
            class="form-control"
            id="name"
            placeholder="Full Name"
            [(ngModel)]="fullName"
            required
            minlength="3"
            maxlength="20"
            #nameInput="ngModel"
            [ngClass]="{'error': nameInput.invalid && (nameInput.dirty || nameInput.touched || submitted)}"
          />
          <label for="name">Full Name</label>
          <div *ngIf="nameInput.invalid && (nameInput.dirty || nameInput.touched || submitted)" class="error-message">
            <p *ngIf="nameInput.errors?.['required']">Full Name is required.</p>
            <p *ngIf="nameInput.errors?.['minlength']">Full Name must be at least 3 characters long.</p>
            <p *ngIf="nameInput.errors?.['maxlength']">Full Name cannot exceed 20 characters.</p>
          </div>
        </div>

        <div class="form-floating">
          <input
            type="email"
            name="email"
            class="form-control"
            id="email"
            placeholder="info@example.com"
            [(ngModel)]="email"
            required
            email
            maxlength="50"
            #emailInput="ngModel"
            [ngClass]="{ 'error': emailInput.invalid && (emailInput.dirty || emailInput.touched || submitted) }"
          />
          <label for="email">Email Address</label>
          <div *ngIf="emailInput.invalid && (emailInput.dirty || emailInput.touched || submitted)" class="error-message">
            <p *ngIf="emailInput.errors?.['required']">Email is required.</p>
            <p *ngIf="emailInput.errors?.['email']">Invalid email format.</p>
            <p *ngIf="emailInput.errors?.['maxlength']">Email cannot exceed 50 characters.</p>
          </div>
        </div>

        <div class="form-floating">
          <input
            type="password"
            name="password"
            class="form-control"
            id="password"
            placeholder="Password"
            [(ngModel)]="password"
            required
            minlength="6"
            maxlength="40"
            #passwordInput="ngModel"
            [ngClass]="{ 'error': passwordInput.invalid && (passwordInput.dirty || passwordInput.touched || submitted) }"
          />
          <label for="password">Password</label>
          <i class="password-icon" [class]="showPassword ? 'bi bi-eye-slash-fill' : 'bi bi-eye-fill'" (click)="togglePasswordVisibility(passwordInput)"></i>
          <div *ngIf="registerForm.controls['password']?.invalid && (registerForm.controls['password']?.dirty || registerForm.controls['password']?.touched || submitted)" class="error-message">
            <p *ngIf="registerForm.controls['password'].errors?.['required']">Password is required.</p>
            <p *ngIf="registerForm.controls['password'].errors?.['minlength']">Password must be at least 6 characters long.</p>
            <p *ngIf="registerForm.controls['password'].errors?.['maxlength']">Password cannot exceed 40 characters.</p>
          </div>
        </div>

        <div class="form-floating">
          <input
            type="password"
            name="repeatPassword"
            class="form-control"
            id="repeatPassword"
            placeholder="Repeat password"
            [(ngModel)]="passwordAgain"
            required
            minlength="6"
            maxlength="40"
            #repeatPasswordInput="ngModel"
            [ngClass]="{ 'error': repeatPasswordInput.invalid && (repeatPasswordInput.dirty || repeatPasswordInput.touched || submitted) }"
          />
          <label for="repeatPassword">Repeat password</label>
          <i class="password-icon" [class]="showRepeatPassword ? 'bi bi-eye-slash-fill' : 'bi bi-eye-fill'" (click)="toggleRepeatPasswordVisibility(repeatPasswordInput)"></i>
          <div *ngIf="registerForm.controls['repeatPassword']?.invalid && (registerForm.controls['repeatPassword']?.dirty || registerForm.controls['repeatPassword']?.touched || submitted)" class="error-message">
            <p *ngIf="registerForm.controls['repeatPassword'].errors?.['required']">Password is required.</p>
          </div>
          <div class="error-message">
            <p *ngIf="registerForm.controls['repeatPassword']?.value !== password && registerForm.controls['repeatPassword']?.value !== ''">Passwords do not match.</p>
          </div>
        </div>

        <div class="form-floating profile-image">
          <label for="formFileSm" class="form-label">Profile image <span>(Optional)</span></label>
          <input name="profileimage" (change)="onFileSelected($event)" type="file" [(ngModel)]="profile_image" class="form-control form-control-sm" id="formFileSm" type="file">
        </div>

        <p *ngIf="typeFileError" style="color: red;">Type of file isn't accepted</p>
        <img *ngIf="profile_image" [src]="previewImage" class="card-img-top" alt="imagen del libro" />
        <button *ngIf="profile_image" type="button" class="btn btn-secondary delete-btn" data-bs-toggle="modal" data-bs-target="#deleteBookConfirmation"><i class="bi bi-trash3"></i></button>


        <div class="d-flex justify-content-between">
          <div class="form-check">
            <input type="checkbox" name="checkbox" class="form-check-input" id="checkbox" [(ngModel)]="checkBox" required/>
            <label for="remember" class="form-check-label"
              >I agree to the <a data-bs-toggle="modal" data-bs-target="#termsofserviceModal">Terms of Service</a> and
              <a data-bs-toggle="modal" data-bs-target="#policyprivacyModal">Privacy Policy</a></label>

              <div *ngIf="registerForm.controls['checkbox']?.invalid && (registerForm.controls['checkbox']?.dirty || registerForm.controls['checkbox']?.touched || submitted)" class="error-message">
                <p *ngIf="registerForm.controls['checkbox'].errors?.['required']">You must accept the terms and conditions.</p>
              </div>
          </div>
        </div>

        <div class="d-grid mb-4">
          <button type="submit" class="btn btn-primary">
            Create an account
          </button>
        </div>

        <div class="mb-2">
          Already a member? <a routerLink="/login">Log in</a>
        </div>

      </form>
    </div>
  </div>
</div>

<div class="userNotLogged" *ngIf="userLogged">
  <h1> You're already logged </h1>
  <div class="buttonsUserNotLogged">
    <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#LogoutConfirmation">Logout</button>
    <button class="btn btn-primary" routerLink="/home">Home</button>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="LogoutConfirmation" tabindex="-1" aria-labelledby="LogoutConfirmationLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="LogoutConfirmationLabel">Logout</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to log out?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="logout()">Logout</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal delete profile image on register -->
<div class="modal fade" id="deleteBookConfirmation" tabindex="-1" aria-labelledby="deleteBookConfirmationLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="deleteBookConfirmationLabel">Delete profile image</h3>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h5>Are you sure you want to delete the profile image?</h5>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="deleteProfileImage()">Delete</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal open terms of service -->
<div class="modal modal-lg fade" id="termsofserviceModal" tabindex="-1" aria-labelledby="termsofserviceModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="termsofserviceModalLabel">Terms of Service</h3>
      </div>
      <div class="modal-body" style="margin-top: -50px; margin-bottom: -30px;">
        <app-terms-of-service></app-terms-of-service>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal open policy privacy -->
<div class="modal modal-lg fade" id="policyprivacyModal" tabindex="-1" aria-labelledby="policyprivacyModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="policyprivacyModalLabel">Policy Privacy</h3>
      </div>
      <div class="modal-body" style="margin-top: -50px; margin-bottom: -30px;">
        <app-privacy-policy></app-privacy-policy>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
